@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

body {
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 48px;
    
    padding: 50px 0 50px 0;
}

.content {
    height: 100%;

    display: flex;
    align-items: center;
    gap: 5vw;
}

.toolbox {
    margin-left: auto;
    border: 2px solid black;
    padding: 200px 25px;
}

.canvas {
    flex-shrink: 0;
    
    display: flex;
    flex-wrap: wrap;

    box-sizing: border-box;

    max-width: 500px;
    margin-right: auto;
    background-color: rgb(229, 229, 229);
}

.cell {
    height: 25px;
    width: 25px;

    box-sizing: border-box;
    background-color: transparent;
}

.cell:hover {
    background-color: rgba(255, 255, 255, 0.264);
}